body{
    background-color:#000000;
}
.customFont{
    font-family: 'VT323', monospace;
    font-size: 36px;
    color:#00CC00;
}
.box{
    color:#00CC00;
    border-color: #00CC00;
    border-style: solid;
    border-width: 1px;
    background-color: #000000;
    font-family: 'VT323', monospace;
    font-size:24px;
}
.button{
    color:#00CC00;
    border-color: #00CC00;
    border-style: solid;
    border-width: 1px;
    font-family: 'VT323', monospace;
    background-color: #000000;
    font-size:24px;
}